body {
  min-width: 320px;
  max-width: 750px;
  height: 1200px;
  margin: 0 auto;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.header {
  height: 2.1333rem;
  font-size: 0.9333rem;
  color: #1c1c1c;
  text-align: center;
  line-height: 2.1333rem;
  border-bottom: 1px solid #eaeaea;
}
